html{
    font-size:100%;
}
.black{
    background-color: #000;
    width : auto;
    border:1rem solid;
    text-indent: 1rem;
    display:block;
    font-size: 1rem;
}
.droite{

}
.width{
    width:100%;
    height:100%;
}
.parent{
    border: 0px white solid;
    display:inline-block;
    height:11rem;

}
.box{
    display: inline-block;
    width:10rem;
    height:10rem;
}
#one{
    width:70%;
}
#two{
    background:#808080;
    width:30%;
}
a{
    color:#FFF;
}