.black{
    background-color: #000;
    width : auto;
    height : 60px;
    line-height: 50px;
    text-indent: 30px;
}
.width{
    width:100%;
    height:100%;
}
.parent{
    border: 0px white solid;
    display:inline-block;

}
.box{
    display: inline-block;
    width:800px;
    height:500px;

}
#two{
    position:absolute;
    background:#808080;
    height: 62%;

}
a{
    color:#FFF;
}